<hr />
<p>version: 7
layout: post
lang: pt
slug: “settings-code”
type: “interactive”
title: “Criar Um Código PIN”
published: true
categories: “mobile”
tags: “mobile”
introduction: Este código PIN é necessário para acessar as configurações do aplicativo. Ele não é necessário para alertar os contatos em caso de emergência.
warning: Lembre-se do seu PIN! Se esquecer, terá que reinstalar o aplicativo.</p>

<p>component: code
action:
  - title: “Salvar”
    link: “home-ready”
    confirmation: “Código PIN salvo”</p>
